---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Natalia Carralero</div>
    <div class="text-3xl py-3 font-bold">PhD Candidate in Economics</div>
     <hr class="my-5 border-gray-400">
    <div class="text-3xl py-3 font-bold">About me</div>
    <div class="py-2">
      <text class="text-lg"> Hi, I'm Natalia! </text>
    </div>
    <div class="py-2">
      <text class="text-lg"> I am a first-year PhD Student in Economics at University of Barcelona under the supervision of <a href="https://sites.google.com/site/anastasiaterskaya/" target="_blank">Anastasia Terskaya</a> and <a href="http://www.saraayllon.eu/" target="_blank">Sara Ayllón</a>, and a research assistant with professor <a href="http://www.saraayllon.eu/" target="_blank">Sara Ayllón</a> at University of Girona. </text>
    </div>
    <div class="py-2">
      <text class="text-lg"> My research interests include <b>labour economics</b>, <b>gender and family economics</b>, <b>policy evaluation</b>, and <b>public economics</b>. </text>
    </div>
    <div class="pb-12 mt-5">
      <div class="text-3xl py-3 font-bold">Contact me</div> 
      <div class="py-2">
        <text class="text-lg"> nataliacarralero@ub.edu </text>
      </div>
      <div class="py-2">
        <text class="text-lg"> Department of Economics, University of Barcelona </text>
      </div>
      <div class="py-2">
        <text class="text-lg"> Carrer de John Maynard Keynes, 1, 11, 08034 Barcelona </text>
      </div>
    <div class="mt-8">
    </div>
  </div>
</BaseLayout>
