---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Conferences and Seminars" sideBarActiveItemID="presentations">


  <div class="pb-12 mt-5">
    <div class="text-3xl py-3 font-bold">Presentations in conferences, seminars and workshops</div>
    <div class="text-xl py-3 font-bold"> 2024</div>
        <text class="text-lg">
            <ul class="pl-5">
                <li style="list-style-type: disc;">
                  <b>Virtual Workshop for Early Career Researchers on Family Research</b>
                    <ul class="pl-2">
                    <text class="text-sm">
                        <li style="list-style-type: '-';"> Date: 28/11/2024 - 29/11/2024 </li>
                        <li style="list-style-type: '-';"> Organizer: Committee on Family Research (RC06) of the International Sociological Association (ISA)</li>
                        <li style="list-style-type: '-';"> Title: Increasing paternity leave: Impacts on fertility and labour market</li>
                        <li style="list-style-type: '-';"> Place: Online</li>
                    </ul>
                </li>
        </ul>
      </text>
    </div>
    <hr class="my-5 border-gray-400" />
    <div class="text-3xl py-3 font-bold">Upcoming events</div>
    <div class="py-2">
      <text class="text-lg">
        <ul class="list-disc pl-5">
         
          <li>
            <b>
              Paternity leave reforms in Spain: Impacts on fertility and labour market outcomes
            </b>
          </li>
          <p>
            Funding entity: Women Institute, Spanish Ministry of Equality <p>
              PI: <a href="http://www.saraayllon.eu/" target="_blank">Sara Ayll칩n</a> <p>
              Date: 2024-2025 <br><br>
          </p>
          <li>
            <b>
              Reformas del permiso de paternidad en Espa침a: impacto sobre la fecundidad y la actividad laboral
            </b>
          </li>
          <p>
            Funding entity: Institute of Fiscal Studies <p>
              PI: <a href="http://www.saraayllon.eu/" target="_blank">Sara Ayll칩n</a> <p>
              Date: 2024-2025 <br><br>
          </p>
          <li>
            <b>
              <a href="https://paths2include.eu/" target="_blank"
                >PATHS2INCLUDE</a>:
              European labour markets under pressure - New knowledge on
              pathways to include persons in vulnerable situations
            </b>
          </li>
          <p>
            Funding entity: Horizon Europe, European Commission <p>
              PI: <a href="http://www.saraayllon.eu/" target="_blank">Sara Ayll칩n</a> <p>
              Date: 2024-2029 <br><br>

          </p>

          <div class="mt-8"></div>
        </ul>
      </text>
    </div>
  </div></BaseLayout
>
