---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Conferences and Seminars" sideBarActiveItemID="presentations">

  <div class="pb-12 mt-5">
    <div class="text-3xl py-3 font-bold">Presentations in conferences, seminars, and workshops</div>

    <div class="text-xl py-3 font-bold">2025</div>

    <ul class="list-disc pl-5">
      <li>
        <div class="text-lg font-bold">Gender Inequalities, Fertility, and the Future of Family Demography: Intersectionality in an Era of Family Complexity</div>
        <ul class="list-none pl-5 text-base">
          <li> Date: 19/03/2025 - 21/03/2025 </li>
          <li> Organizer: Gender Inequalities and Fertility Research Group </li>
          <li> Place: Max Planck Institute for Demographic Research, Rostock </li>
        </ul>
      </li>
    </ul>
    <br>

    <div class="text-xl py-3 font-bold">2024</div>

    <ul class="list-disc pl-5">
      <li>
        <div class="text-lg font-bold">Virtual Workshop for Early Career Researchers on Family Research</div>
        <ul class="list-none pl-5 text-base">
          <li> Date: 28/11/2024 - 29/11/2024 </li>
          <li> Organizer: Committee on Family Research (RC06) of the International Sociological Association (ISA) </li>
          <li> Place: Online </li>
        </ul>
      </li>
      <br>
      <li>
        <div class="text-lg font-bold">PAPERSS Seminar</div>
        <ul class="list-none pl-5 text-base">
          <li> Date: 12/11/2024 </li>
          <li> Organizer: Carlos III – Juan March Institute & Department of Social Sciences at Universidad Carlos III de Madrid </li>
          <li> Place: University Carlos III, Madrid </li>
        </ul>
      </li>
      <br>
      <li>
        <div class="text-lg font-bold">UPF student seminar</div>
        <ul class="list-none pl-5 text-base">
          <li> Date: 10/10/2024 </li>
          <li> Organizer: University of Pompeu Fabra </li>
          <li> Place: University of Pompeu Fabra, Barcelona </li>
        </ul>
      </li>
      <br>
      <li>
        <div class="text-lg font-bold">XVI Jornadas de Economía Laboral</div>
        <ul class="list-none pl-5 text-base">
          <li> Date: 11/07/2024 - 12/04/2024 </li>
          <li> Organizer: Spanish Association of Labour Economics & Universitat de Barcelona </li>
          <li> Place: University of Barcelona, Barcelona </li>
        </ul>
      </li>
    </ul>
  </div>

  <hr class="my-5 border-gray-400" />
  
  <div class="text-3xl py-3 font-bold">Upcoming events</div>

  <ul class="list-disc pl-5">
    <li>
      <div class="text-lg font-bold">Applied Lunch Seminar</div>
      <ul class="list-none pl-5 text-base">
        <li> Date: 25/03/2025 </li>
        <li> Organizer: Department of Economy, Autonomus University of Barcelona </li>
        <li> Place: Autonomus University of Barcelona, Barcelona </li>
      </ul>
    </li>
    <br>
    <li>
      <div class="text-lg font-bold"> 32nd Meeting on Public Economics </div>
      <ul class="list-none pl-5 text-base">
        <li> Date: 15/05/2025 - 16/05/2025 </li>
        <li> Organizer: Department of Economics of the University of Huelva. </li>
        <li> Place: Punta Umbría, Huelva </li>
      </ul>
    </li>
    <br>
    <li>
      <div class="text-lg font-bold">Society of Economics of the Household</div>
      <ul class="list-none pl-5 text-base">
        <li> Date: 10/06/2025 - 11/06/2025 </li>
        <li> Organizer: IEDIS and Faculty of Economics and Business of the University of Zaragoza </li>
        <li> Place: University of Zaragoza, Zaragoza </li>
      </ul>
    </li>
  
  </ul>

</div>

</BaseLayout>
