---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Research" sideBarActiveItemID="projects">
  <div class="pb-12 mt-5">
    <div class="text-3xl py-3 font-bold">Work in progress</div>
    <div class="py-2">
      <text class="text-lg">
        <ul class="pl-5">
          <li style="list-style-type: disc;">
              Increasing paternity leave: Impacts on fertility and labour market (with Sara Ayllón)
            </li>           
            <li style="list-style-type: disc;">
              Gender norms and employment characteristics among mothers across Europe (with Sara Ayllón)
            <li>
            <ul className="pl-5 list-none">
              <li>- <a href="https://paths2include.eu/publications/gender-norms-and-parents-employment-characteristics-in-europe/" target="_blank" rel="noopener noreferrer">Working paper</a></li>
            </ul>
          </li>
        </ul>
      </div>


    <hr class="my-5 border-gray-400" />
    <div class="text-3xl py-3 font-bold">Participation in projects</div>
    <div class="py-2">
      <text class="text-lg">
        <ul class="list-disc pl-5">
         
          <li>
            <b>
              Paternity leave reforms in Spain: Impacts on fertility and labour market outcomes
            </b>
          </li>
          <p>
            Funding entity: Women Institute, Spanish Ministry of Equality <p>
              PI: <a href="http://www.saraayllon.eu/" target="_blank">Sara Ayllón</a> <p>
              Date: 2024-2025 <br><br>
          </p>
          <li>
            <b>
              Reformas del permiso de paternidad en España: impacto sobre la fecundidad y la actividad laboral
            </b>
          </li>
          <p>
            Funding entity: Institute of Fiscal Studies <p>
              PI: <a href="http://www.saraayllon.eu/" target="_blank">Sara Ayllón</a> <p>
              Date: 2024-2025 <br><br>
          </p>
          <li>
            <b>
              <a href="https://paths2include.eu/" target="_blank"
                >PATHS2INCLUDE</a>:
              European labour markets under pressure - New knowledge on
              pathways to include persons in vulnerable situations
            </b>
          </li>
          <p>
            Funding entity: Horizon Europe, European Commission <p>
              PI: <a href="http://www.saraayllon.eu/" target="_blank">Sara Ayllón</a> <p>
              Date: 2024-2029 <br><br>

          </p>

          <div class="mt-8"></div>
        </ul>
      </text>
    </div>
  </div></BaseLayout
>
