---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-40 opacity-60 ">
  <div class="pb-2">
    &copy; {today.getFullYear()} Natalia Carralero  </div>
  <div class="inline opacity-60">
    Developed by <a href="https://floanita.github.io" target="_blank" class="font-bold">Ana Valero</a> using
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template</a>
  </div>
</footer>
<style></style>
